---
import Layout from '../../layouts/Layout.astro';
import Teams from '../../components/Teams.astro';
import Countries from '../../components/Countries.astro';
import AllTournament from '../../components/AllTournament.astro';

import { countries, tournaments } from '../../data.json';
const tournament = tournaments.find((tournament) => tournament.href === 'libertadores')!;
const groups = tournament['groups'];

const description="Suscribite al calendario de tu equipo, de todo el grupo o de toda la copa y tendrás todos los partidos incluidos en el calendario de tu teléfono o tu computadora.";
---

<Layout title="Calendarios de Copa Libertadores"
    description={description}
    >
	
	<main>
        <h1 class="
            text-4xl sm:text-5xl md:text-6xl lg:text-7xl  
            text-center font-bold  p-0.5 mb-4">
            Copa <span class="text-gradient">Libertadores</span>
        </h1>

		<p class="instructions flex justify-center 
        text-sm sm:text-base md:text-lg lg:text-xl
        ">
            {description}
        </p>
        <AllTournament 
            title="Calendario de todos los partidos de la Copa Libertadores" 
            href="libertadores/Completa" 
            imgSrc="img/icons/libertadores.png"
            backgroundImage="img/icons/libertadores-bg.jpg"
        />
        <Countries countries={countries} tournament="libertadores" />
        <Teams groups={groups} tournament="libertadores" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 5rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
</style>
