---
import Layout from '../../layouts/Layout.astro';
import Teams from '../../components/Teams.astro';

const groups = [
{
    name:"Grupo A",
    path: "GrupoA",
    teams:[

        {
        name:"Fluminense",
        path:"Fluminense",
        imageName:'CSF_FLU.png',
        },
        {
        name:"Cerro Porteño",
        path:"CerroPorteno",
        imageName:'CSF_CEP.png',
        },
        {
        name:"Alianza Lima",
        path:"AlianzaLima",
        imageName:'CSF_ALI.png',
        },
        {
        name:"Colo-Colo",
        path:"ColoColo",
        imageName:'CSF_CCO.png',
        },
    ]
},
{
    name:"Grupo B",
    path: "GrupoB",
    teams:[

        {
        name:"San Pablo",
        path:"SanPablo",
        imageName:'CSF_SAO.png',
        },
        {
        name:"Barcelona",
        path:"Barcelona",
        imageName:'CSF_BNA.png',
        },
        {
        name:"Talleres",
        path:"Talleres",
        imageName:'CSF_TAL.png',
        },
        {
        name:"Cobresal",
        path:"Cobresal",
        imageName:'CSF_COB.png',
        },
    ]
},
{
    name:"Grupo C",
    path: "GrupoC",
    teams:[

        {
        name:"Gremio",
        path:"Gremio",
        imageName:'CSF_GRE.png',
        },
        {
        name:"Estudiantes",
        path:"Estudiantes",
        imageName:'CSF_ELP.png',
        },
        {
        name:"The Strongest",
        path:"TheStrongest",
        imageName:'CSF_THS.png',
        },
        {
        name:"Huachipato",
        path:"Huachipato",
        imageName:'CSF_HUA.png',
        },
    ]
},
{
    name:"Grupo D",
    path: "GrupoD",
    teams:[

        {
        name:"Liga de Quito",
        path:"LigaDeQuito",
        imageName:'CSF_LDU.png',
        },
        {
        name:"Junior",
        path:"Junior",
        imageName:'CSF_JUN.png',
        },
        {
        name:"Universitario",
        path:"Universitario",
        imageName:'CSF_UNI.png',
        },
        {
        name:"Botafogo",
        path:"Botafogo",
        imageName:'CSF_BOT.png',
        },
    ]
},
{
    name:"Grupo E",
    path: "GrupoE",
    teams:[

        {
        name:"Flamengo",
        path:"Flamengo",
        imageName:'CSF_FLA.png',
        },
        {
        name:"Bolívar",
        path:"Bolivar",
        imageName:'CSF_BLV.png',
        },
        {
        name:"Millonarios",
        path:"Millonarios",
        imageName:'CSF_MIL.png',
        },
        {
        name:"Palestino",
        path:"Palestino",
        imageName:'CSF_PST.png',
        },
    ]
},
{
    name:"Grupo F",
    path: "GrupoF",
    teams:[

        {
        name:"Palmeiras",
        path:"Palmeiras",
        imageName:'CSF_PAL.png',
        },
        {
        name:"Independiente del Valle",
        path:"IndependienteDelValle",
        imageName:'CSF_IDL.png',
        },
        {
        name:"San Lorenzo",
        path:"SanLorenzo",
        imageName:'CSF_SLO.png',
        },
        {
        name:"Liverpool",
        path:"Liverpool",
        imageName:'CSF_LIV.png',
        },
    ]
},
{
    name:"Grupo G",
    path: "GrupoG",
    teams:[
        {
        name:"Peñarol",
        path:"Penarol",
        imageName:'CSF_PEN.png',
        },
        {
        name:"Atlético Mineiro",
        path:"AtleticoMineiro",
        imageName:'CSF_ATM.png',
        },        
        {
        name:"Rosario Central",
        path:"RosarioCentral",
        imageName:'CSF_RSC.png',
        },
        {
        name:"Caracas",
        path:"Caracas",
        imageName:'CSF_CRC.png',
        },
    ]
},
{
    name:"Grupo H",
    path: "GrupoH",
    teams:[
        {
        name:"River",
        path:"River",
        imageName:'CSF_RIV.png',
        },
        {
        name:"Libertad",
        path:"Libertad",
        imageName:'CSF_LIB.png',
        },
        {
        name:"Deportivo Táchira",
        path:"DeportivoTachira",
        imageName:'CSF_DTA.png',
        },
        {
        name:"Nacional",
        path:"Nacional",
        imageName:'CSF_NCI.png',
        },
    ]
},
];

---

<Layout title="Calendarios de Copa Libertadores" 
    description="Suscribite al calendario de tu equipo o de todo el grupo y tendrás todos los partidos incluidos en el calendario de tu teléfono o tu computadora. ">
	
	<main>
		<h1>Copa <span class="text-gradient">Libertadores</span></h1>
		<p class="instructions flex justify-center">
			Suscribite al calendario de tu equipo o de todo el grupo y tendrás todos los partidos incluidos en el calendario de tu teléfono o tu computadora. 
		</p>
        <Teams groups={groups} tournament="libertadores" />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 5rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
</style>
